.download {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 6em;
  }

  .download-link {
    color: $light-blue;
    font-size: 2em;
  }

}