.section {
  width: 90%;
  max-width: 1200px;
  height: 300px;
  padding: 50px 30px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;

  &:hover {
    max-width: 100%;

    .section-details {
      opacity: 1;
      max-width: 1000px;
    }
  }

  &-left {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
  }

  &-right {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
  }

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & h2 {
    font-size: 3em;
    margin: 0 0 10px;
  }

  & p {
    font-size: 1.6em;
    max-width: 600px;
    text-align: center;
    text-align-last: center;
    line-height: 140%;
  }

  &-details {
    //visibility: hidden;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: all 1s ease;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
  }

  &-red {
    background: linear-gradient(to right, rgba($deep-orange, $gradient-transparency), rgba($red, $gradient-transparency));
  }

  &-orange {
    background: linear-gradient(to right, rgba($deep-orange, $gradient-transparency), rgba($amber, $gradient-transparency));
  }

  &-green {
    background: linear-gradient(to right, rgba($lime, $gradient-transparency), rgba($light-green, $gradient-transparency));
  }

  &-blue {
    background: linear-gradient(to right, rgba($blue, $gradient-transparency), rgba($cyan, $gradient-transparency));
  }

  &-pink {
    background: linear-gradient(to right, rgba($pink, $gradient-transparency), rgba($purple, $gradient-transparency));
  }

}