//https://materialuicolors.co/

$red : #F44336;
$pink : #E91E63;
$purple : #9C27B0;
$deep-purple : #673AB7;
$blue : #2196F3;
$light-blue : #03A9F4;
$cyan : #00BCD4;
$teal : #009688;
$light-green : #8BC34A;
$lime : #CDDC39;
$yellow : #FFEB3B;
$amber : #FFC107;
$deep-orange : #FF5722;
$brown : #795548;
$grey : #9E9E9E;
$blue-grey : #607D8B;
$blue-grey-dark : #263238;

$dark : #212121;

$url-programming-image : "https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5a31d03ddee66863a599421f792e07b&auto=format&fit=crop&w=1050&q=80";

$font-nav : "Raleway", "sans-serif";

$gradient-transparency: 0.4;
